In [49]:
import pandas as pd

df = pd.read_csv('dataset_with_names.csv')
df

,year,month,day,정석학술정보관,H-M MAIN,HO-M MAIN,HN-M MAIN,본관,5호남관,김현태 인하드림센터,...,60주년,서호관,하이테크센터,로스쿨관,학생회관,"2호남관, 4호관",5호북관,"2호북관,2북신관",인하드림센터 3관,5호동관
0,2021,1,1,4863.0,2422.0,620.0,1598.0,135.0,626.0,81.0,...,783.0,144.0,283.0,203.0,237.0,460.0,173.0,460.0,38.0,641.0
1,2021,1,2,4618.0,2364.0,646.0,1580.0,130.0,618.0,81.0,...,857.0,154.0,295.0,214.0,204.0,426.0,174.0,426.0,46.0,631.0
2,2021,1,3,4653.0,2346.0,694.0,1549.0,128.0,637.0,92.0,...,825.0,162.0,294.0,213.0,269.0,449.0,180.0,449.0,26.0,628.0
3,2021,1,4,6365.0,2958.0,1000.0,2123.0,331.0,764.0,136.0,...,874.0,230.0,377.0,268.0,484.0,617.0,262.0,617.0,68.0,763.0
4,2021,1,5,6547.0,3238.0,1000.0,2099.0,325.0,818.0,160.0,...,999.0,236.0,375.0,276.0,521.0,606.0,267.0,606.0,72.0,742.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211,2024,4,26,2737.0,1020.0,491.0,1147.0,99.0,229.0,56.0,...,439.0,119.0,292.0,82.0,153.0,343.0,238.0,343.0,18.0,260.0
1212,2024,4,27,2468.0,935.0,416.0,981.0,91.0,171.0,37.0,...,494.0,107.0,257.0,84.0,131.0,296.0,208.0,296.0,16.0,219.0
1213,2024,4,28,2387.0,889.0,410.0,1054.0,96.0,170.0,24.0,...,435.0,108.0,256.0,81.0,121.0,316.0,207.0,316.0,16.0,229.0
1214,2024,4,29,3866.0,1451.0,652.0,1413.0,191.0,289.0,61.0,...,577.0,160.0,354.0,126.0,254.0,437.0,263.0,437.0,19.0,367.0
1215,2024,4,30,3742.0,1377.0,626.0,1469.0,189.0,278.0,69.0,...,584.0,145.0,334.0,124.0,233.0,416.0,285.0,416.0,20.0,359.0

In [50]:
df

,year,month,day,정석학술정보관,H-M MAIN,HO-M MAIN,HN-M MAIN,본관,5호남관,김현태 인하드림센터,...,60주년,서호관,하이테크센터,로스쿨관,학생회관,"2호남관, 4호관",5호북관,"2호북관,2북신관",인하드림센터 3관,5호동관
0,2021,1,1,4863.0,2422.0,620.0,1598.0,135.0,626.0,81.0,...,783.0,144.0,283.0,203.0,237.0,460.0,173.0,460.0,38.0,641.0
1,2021,1,2,4618.0,2364.0,646.0,1580.0,130.0,618.0,81.0,...,857.0,154.0,295.0,214.0,204.0,426.0,174.0,426.0,46.0,631.0
2,2021,1,3,4653.0,2346.0,694.0,1549.0,128.0,637.0,92.0,...,825.0,162.0,294.0,213.0,269.0,449.0,180.0,449.0,26.0,628.0
3,2021,1,4,6365.0,2958.0,1000.0,2123.0,331.0,764.0,136.0,...,874.0,230.0,377.0,268.0,484.0,617.0,262.0,617.0,68.0,763.0
4,2021,1,5,6547.0,3238.0,1000.0,2099.0,325.0,818.0,160.0,...,999.0,236.0,375.0,276.0,521.0,606.0,267.0,606.0,72.0,742.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211,2024,4,26,2737.0,1020.0,491.0,1147.0,99.0,229.0,56.0,...,439.0,119.0,292.0,82.0,153.0,343.0,238.0,343.0,18.0,260.0
1212,2024,4,27,2468.0,935.0,416.0,981.0,91.0,171.0,37.0,...,494.0,107.0,257.0,84.0,131.0,296.0,208.0,296.0,16.0,219.0
1213,2024,4,28,2387.0,889.0,410.0,1054.0,96.0,170.0,24.0,...,435.0,108.0,256.0,81.0,121.0,316.0,207.0,316.0,16.0,229.0
1214,2024,4,29,3866.0,1451.0,652.0,1413.0,191.0,289.0,61.0,...,577.0,160.0,354.0,126.0,254.0,437.0,263.0,437.0,19.0,367.0
1215,2024,4,30,3742.0,1377.0,626.0,1469.0,189.0,278.0,69.0,...,584.0,145.0,334.0,124.0,233.0,416.0,285.0,416.0,20.0,359.0

In [51]:
# 정석학술정보관 	본관	5호남관	김현태 인하드림센터	9호관,평생교육원	60주년	       서호관	  하이테크센터	로스쿨관	학생회관	2호남관, 4호관	      5호북관	    2호북관,2북신관	   인하드림센터 3관	   5호동관 
#24781.95	17066.05	38642.66	4003.05 	25150.95	25833.57	12937.30	21750.93	8994.57	 15764.76	20152.91		 NULL              16784.17	  1878.90	   18347.85

area = {
    "정석학술정보관": 24781.95,
    "본관": 17066.05,
    "5호남관": 38642.66,
    "김현태 인하드림센터": 4003.05,
    "9호관,평생교육원": 25150.95,
    "60주년": 25833.57,
    "서호관": 12937.30,
    "하이테크센터": 21750.93,
    "로스쿨관": 8994.57,
    "학생회관": 15764.76,
    "2호남관, 4호관": 20152.91,
    "2호북관,2북신관": 16784.17,
    "인하드림센터 3관": 1878.90,
    "5호동관": 18347.85
}

In [52]:
type(area['정석학술정보관'])

float

In [53]:
df_new = df.drop(['H-M MAIN', 'HO-M MAIN', 'HN-M MAIN'], axis=1)

In [54]:
df_new

,year,month,day,정석학술정보관,본관,5호남관,김현태 인하드림센터,"9호관,평생교육원",60주년,서호관,하이테크센터,로스쿨관,학생회관,"2호남관, 4호관",5호북관,"2호북관,2북신관",인하드림센터 3관,5호동관
0,2021,1,1,4863.0,135.0,626.0,81.0,856.0,783.0,144.0,283.0,203.0,237.0,460.0,173.0,460.0,38.0,641.0
1,2021,1,2,4618.0,130.0,618.0,81.0,860.0,857.0,154.0,295.0,214.0,204.0,426.0,174.0,426.0,46.0,631.0
2,2021,1,3,4653.0,128.0,637.0,92.0,832.0,825.0,162.0,294.0,213.0,269.0,449.0,180.0,449.0,26.0,628.0
3,2021,1,4,6365.0,331.0,764.0,136.0,850.0,874.0,230.0,377.0,268.0,484.0,617.0,262.0,617.0,68.0,763.0
4,2021,1,5,6547.0,325.0,818.0,160.0,1020.0,999.0,236.0,375.0,276.0,521.0,606.0,267.0,606.0,72.0,742.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211,2024,4,26,2737.0,99.0,229.0,56.0,184.0,439.0,119.0,292.0,82.0,153.0,343.0,238.0,343.0,18.0,260.0
1212,2024,4,27,2468.0,91.0,171.0,37.0,166.0,494.0,107.0,257.0,84.0,131.0,296.0,208.0,296.0,16.0,219.0
1213,2024,4,28,2387.0,96.0,170.0,24.0,154.0,435.0,108.0,256.0,81.0,121.0,316.0,207.0,316.0,16.0,229.0
1214,2024,4,29,3866.0,191.0,289.0,61.0,284.0,577.0,160.0,354.0,126.0,254.0,437.0,263.0,437.0,19.0,367.0
1215,2024,4,30,3742.0,189.0,278.0,69.0,269.0,584.0,145.0,334.0,124.0,233.0,416.0,285.0,416.0,20.0,359.0

In [55]:
df_new = df_new.fillna(df_new.mean())

In [56]:
df_new

,year,month,day,정석학술정보관,본관,5호남관,김현태 인하드림센터,"9호관,평생교육원",60주년,서호관,하이테크센터,로스쿨관,학생회관,"2호남관, 4호관",5호북관,"2호북관,2북신관",인하드림센터 3관,5호동관
0,2021,1,1,4863.0,135.0,626.0,81.0,856.0,783.0,144.0,283.0,203.0,237.0,460.0,173.0,460.0,38.0,641.0
1,2021,1,2,4618.0,130.0,618.0,81.0,860.0,857.0,154.0,295.0,214.0,204.0,426.0,174.0,426.0,46.0,631.0
2,2021,1,3,4653.0,128.0,637.0,92.0,832.0,825.0,162.0,294.0,213.0,269.0,449.0,180.0,449.0,26.0,628.0
3,2021,1,4,6365.0,331.0,764.0,136.0,850.0,874.0,230.0,377.0,268.0,484.0,617.0,262.0,617.0,68.0,763.0
4,2021,1,5,6547.0,325.0,818.0,160.0,1020.0,999.0,236.0,375.0,276.0,521.0,606.0,267.0,606.0,72.0,742.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211,2024,4,26,2737.0,99.0,229.0,56.0,184.0,439.0,119.0,292.0,82.0,153.0,343.0,238.0,343.0,18.0,260.0
1212,2024,4,27,2468.0,91.0,171.0,37.0,166.0,494.0,107.0,257.0,84.0,131.0,296.0,208.0,296.0,16.0,219.0
1213,2024,4,28,2387.0,96.0,170.0,24.0,154.0,435.0,108.0,256.0,81.0,121.0,316.0,207.0,316.0,16.0,229.0
1214,2024,4,29,3866.0,191.0,289.0,61.0,284.0,577.0,160.0,354.0,126.0,254.0,437.0,263.0,437.0,19.0,367.0
1215,2024,4,30,3742.0,189.0,278.0,69.0,269.0,584.0,145.0,334.0,124.0,233.0,416.0,285.0,416.0,20.0,359.0

In [57]:
df_new.describe()

,year,month,day,정석학술정보관,본관,5호남관,김현태 인하드림센터,"9호관,평생교육원",60주년,서호관,하이테크센터,로스쿨관,학생회관,"2호남관, 4호관",5호북관,"2호북관,2북신관",인하드림센터 3관,5호동관
count,1216.000000,1216.00000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000
mean,2022.199013,6.12500,15.712171,4703.169284,1898.105585,2010.006108,1808.841187,2025.337696,2240.645724,1875.664921,2008.700698,1875.225131,1946.265271,2063.788831,2022.881326,2063.762653,1794.639301,2050.768761
std,0.979560,3.50649,8.795026,1974.926837,2956.470023,2905.001189,3003.987343,2896.401539,2819.733945,2984.974299,2917.744722,2991.701523,2932.549418,2887.556606,2932.673507,2887.530769,3041.858762,2905.231334
min,2021.000000,1.00000,1.000000,1464.000000,69.000000,139.000000,22.000000,118.000000,362.000000,68.000000,175.000000,69.000000,88.000000,212.000000,144.000000,212.000000,6.000000,170.000000
25%,2021.000000,3.00000,8.000000,3332.750000,182.000000,277.750000,68.000000,291.500000,566.000000,131.000000,321.000000,138.000000,213.500000,373.000000,229.000000,373.000000,34.000000,322.000000
50%,2022.000000,6.00000,16.000000,4497.000000,274.500000,463.000000,112.000000,496.500000,773.000000,200.000000,398.000000,195.000000,354.500000,519.000000,314.500000,519.000000,55.000000,512.500000
75%,2023.000000,9.00000,23.000000,5445.000000,1997.000000,2010.006108,1962.750000,2025.337696,2240.645724,2008.000000,2008.700698,1988.750000,1965.250000,2063.788831,2050.000000,2063.762653,2013.000000,2061.326571
max,2024.000000,12.00000,31.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000

In [58]:
for building_name in area:
    df_new[building_name] = df_new[building_name] / area[building_name]

df_new.describe()

,year,month,day,정석학술정보관,본관,5호남관,김현태 인하드림센터,"9호관,평생교육원",60주년,서호관,하이테크센터,로스쿨관,학생회관,"2호남관, 4호관",5호북관,"2호북관,2북신관",인하드림센터 3관,5호동관
count,1216.000000,1216.00000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000,1216.000000
mean,2022.199013,6.12500,15.712171,0.189782,0.111221,0.052015,0.451866,0.080527,0.086734,0.144981,0.092350,0.208484,0.123457,0.102406,2022.881326,0.122959,0.955154,0.111772
std,0.979560,3.50649,8.795026,0.079692,0.173237,0.075176,0.750425,0.115161,0.109150,0.230726,0.134143,0.332612,0.186019,0.143282,2932.673507,0.172039,1.618957,0.158342
min,2021.000000,1.00000,1.000000,0.059075,0.004043,0.003597,0.005496,0.004692,0.014013,0.005256,0.008046,0.007671,0.005582,0.010520,144.000000,0.012631,0.003193,0.009265
25%,2021.000000,3.00000,8.000000,0.134483,0.010664,0.007188,0.016987,0.011590,0.021909,0.010126,0.014758,0.015343,0.013543,0.018508,229.000000,0.022223,0.018096,0.017550
50%,2022.000000,6.00000,16.000000,0.181463,0.016085,0.011982,0.027979,0.019741,0.029922,0.015459,0.018298,0.021680,0.022487,0.025753,314.500000,0.030922,0.029272,0.027932
75%,2023.000000,9.00000,23.000000,0.219716,0.117016,0.052015,0.490314,0.080527,0.086734,0.155210,0.092350,0.221106,0.124661,0.102406,2050.000000,0.122959,1.071372,0.112347
max,2024.000000,12.00000,31.000000,0.403519,0.585959,0.258781,2.498095,0.397599,0.387093,0.772959,0.459750,1.111782,0.634326,0.496206,10000.000000,0.595799,5.322263,0.545023

In [60]:
df_new = df_new.drop(['5호북관'], axis=1)
df_new.to_csv('원단위_전력사용량_4개년.csv', index=False, encoding='utf-8')